{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control select2">
                    <option selected disabled>--Select A Variant--</option>
                    {% for variant in variants_with_titles %}
                    <option disabled>{{ variant.variant_title }}</option>
                    {% for product_variant_title in variant.product_variant_titles %}
                    <option>{{ product_variant_title }}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for product_id, product_info in variant_info.items %}
                <tr class="product-{{product_id}}">
                    <td>{{ product_info.product_id }}</td>
                    <td><span class="editable product_title">{{ product_info.product_title }}</span> <br> Created at : {{ product_info.created_at }}
                        {% if product_info.updated_at %} <br>Updated at : {{ product_info.updated_at }} {% endif %}</td>
                    <td><span class="editable product_description">{{ product_info.product_description }}</span></td>
                    <td>
                        <dl class="row mb-0 variant-{{product_info.product_id}}" style="height: 80px; overflow: hidden" id="variant">
                            {% for variant in product_info.variants %}
                            <dt class="col-sm-3 pb-0">
                                <span class="variant_title_one">{{ variant.variant_title_one }}</span> / <span class="variant_title_two">{{ variant.variant_title_two }}</span> / <span class="variant_title_three">{{ variant.variant_title_three }}</span>
                            </dt>
                            <dd class="col-sm-9">
                                <dl class="row mb-0">
                                    <dd class="col-sm-4 pb-0">Price: <span class="editable price">{{ variant.price }}</span></dd>
                                    <dd class="col-sm-8 pb-0">InStock: <span class="editable stock">{{ variant.stock }}</span></dd>
                                </dl>
                            </dd>
                            {% endfor %}
                        </dl>
                        <button onclick="$('.variant-{{product_info.product_id}}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success edit-button">Edit</a>
                            <a href="" class="btn btn-success save-button" style="display: none;">Save</a>
                            <a href="" class="btn btn-success cancel-button" style="display: none;">Cancel</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ products.start_index }} to {{ products.end_index }} out of {{ products.paginator.count }} products</p>
            </div>
            <div class="col-md-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for num in products.paginator.page_range %}
                        <li class="page-item {% if num == products.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
// JavaScript (jQuery)
$(document).ready(function() {
    $('.edit-button').click(function(e) {
        e.preventDefault();
        var tr = $(this).closest('tr');
        $(this).closest('tr').find('.editable').each(function() {
            var text = $(this).text();
            $(this).html('<input type="text" class="form-control" value="' + text + '">');
        });
        tr.find('.edit-button').hide();
        tr.find('.save-button, .cancel-button').show();
    });

    $(document).ready(function() {
        $(document).on('click', '.save-button', function() {
            var tr = $(this).closest('tr');
            var formData = new FormData();
            formData.append('product_id', tr.find('td:first-child').text());
            tr.find('.editable input').each(function() {
                var fieldName = $(this).closest('span').attr('class').split(' ')[1];
                formData.append(fieldName, $(this).val());
            });
            tr.find('.price, .stock').each(function() {
                var fieldName = $(this).attr('class').split(' ')[1];
                formData.append(fieldName, $(this).find('input').val());
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            // Include CSRF token in AJAX request headers
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
            $.ajax({
                type: 'POST',
                url: 'update/' + formData.get('product_id') + '/',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    location.reload();
                    console.log('Data updated successfully:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Error updating data:', error);
                }
            });
        });
    });


    // Cancel button click event handler
    $(document).on('click', '.cancel-button', function (e) {
        e.preventDefault();
        var tr = $(this).closest('tr');
        tr.find('.editable input').each(function () {
            var parentSpan = $(this).closest('.editable');
            var text = $(this).val();
            parentSpan.html(text);
        });
        tr.find('.edit-button').show();
        tr.find('.save-button, .cancel-button').hide();
    });

});

</script>
{% endblock %}